DB_USER=postgres
DB_HOST=127.0.0.1
DB_PASSWORD=
DB_NAME=budgetbuddy
DB_PORT=5432

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=BudgetBuddy <no-reply@example.com>
PASSWORD_RESET_URL=https://example.com/reset-password
BUDGET_INVITE_URL=https://example.com/budget-invitation
